.navbar {
  transition: all var(--transition-normal);
  padding: var(--spacing-2) 0;
  background-color: transparent;
  
}

.scrolled {
  background-color: rgba(18, 18, 18, 0.747);
  padding: var(--spacing-1) 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.brand {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--font-heading);
  font-weight: 800;
  font-size: 1.5rem;
  color: var(--primary);
  letter-spacing: 0.5px;
  position: relative;
}

.logo::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, var(--primary), var(--accent));
  transform: scaleX(0);
  transform-origin: right;
  transition: transform var(--transition-normal);
}

.logoicon{
  color:rgb(226, 226, 226);
  padding-right: 8px;
}
.brand:hover .logo::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navLink {
  margin: 0 var(--spacing-1);
  font-weight: 500;
  position: relative;
  transition: color var(--transition-fast);
}

.navLink::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform var(--transition-normal);
}

.navLink:hover::after,
.navLink[class*="active"]::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navLink[class*="active"] {
  color: var(--primary) !important;
}

.toggleButton {
  border: none;
}

.toggleButton:focus {
  box-shadow: none;
}

/* Offcanvas styles */
.offcanvas {
  background-color: var(--bg-dark) !important;
  width: 250px !important;
}


.offcanvasHeader {
  border-bottom: 1px solid var(--bg-light);
  background-color: rgba(3, 0, 0, 0.986) !important;
}

@media (max-width: 991px) {
  .navbar {
    background-color: var(--bg-dark) !important;
    padding: var(--spacing-1) 0;
  }
  
  .navLink {
    padding: var(--spacing-1) var(--spacing-2) !important;
    margin: var(--spacing-1) 0 !important;
    color: var(--text-secondary) !important;
  }
  
  .navLink::after {
    display: none;
  }
  
  .navLink:hover{
    background-color: var(--bg-lighter);
    border-radius: 5px;
  }
  .navLink[class*="active"] {
    background-color: var(--bg-lighterer);
    border-radius: 5px;
    font-weight: 500;
    font-size:medium;
  }
}